@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 81 57% 76%;
    --foreground: 37 55% 39%;
    --card: 0 0% 100%;
    --card-foreground: 37 55% 39%;
    --popover: 0 0% 100%;
    --popover-foreground: 37 55% 39%;
    --primary: 346 80% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 97 39% 84%;
    --secondary-foreground: 37 33% 25%;
    --muted: 97 60% 76%;
    --muted-foreground: 37 40% 45%;
    --accent: 105 65% 63%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 37 40% 63%;
    --input: 97 39% 84%;
    --ring: 346 80% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 37 35% 20%;
    --foreground: 97 39% 90%;
    --card: 37 30% 25%;
    --card-foreground: 97 39% 90%;
    --popover: 37 30% 25%;
    --popover-foreground: 97 39% 90%;
    --primary: 346 80% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 97 39% 60%;
    --secondary-foreground: 0 0% 100%;
    --muted: 37 30% 30%;
    --muted-foreground: 37 40% 70%;
    --accent: 105 65% 53%;
    --accent-foreground: 97 39% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 37 40% 35%;
    --input: 37 40% 35%;
    --ring: 346 80% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

