@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 50% 95%;
    --foreground: 40 100% 6%;
    --card: 0 0% 100%;
    --card-foreground: 40 100% 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 40 100% 6%;
    --primary: 27 91% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 85% 75%;
    --secondary-foreground: 40 50% 14%;
    --muted: 49 54% 90%;
    --muted-foreground: 38 42% 48%;
    --accent: 49 65% 85%;
    --accent-foreground: 38 42% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 38 42% 65%;
    --input: 49 44% 84%;
    --ring: 27 91% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 40 50% 6%;
    --foreground: 48 54% 96%;
    --card: 40 40% 10%;
    --card-foreground: 48 54% 96%;
    --popover: 40 40% 10%;
    --popover-foreground: 48 54% 96%;
    --primary: 27 91% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 85% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 38 30% 20%;
    --muted-foreground: 38 42% 70%;
    --accent: 38 42% 35%;
    --accent-foreground: 48 54% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 38 42% 30%;
    --input: 38 42% 30%;
    --ring: 27 91% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

