@font-face {
  font-family: 'Cooper';
  src: url('../public/fonts/cooper-bt-medium.otf') format('opentype'),
       url('/fonts/cooper-bt-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 